<!doctype html>
<html>
  <head>
    <title>WebX Tools</title>
    <script src="js/background_helpers.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/options_helper.js"></script>
    <script src="js/postprocessing/postprocessing.js"></script>
    <script src="js/postprocessing/nested.js"></script>
    <script src="js/script_builder2.js"></script>
    <script src="js/ui_shared.js"></script>
    <script src="js/devtools.js"></script>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
  </head>
  <body ng-app="extension" ng-controller="main" ng-init="init()" ngcloak>
    <div ng-show="loading"> <h1 style="text-align: center; padding: 150px"> LOADING...</h1> </div>
    <div ng-hide="loading">
      <div class="row">
        <div class="col-xs-12">
          <div class="navbar-xs">
            <div class="navbar-primary">
              <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <span class="navbar-brand">WebX Tools</span>
                  </div>
                  <ul class="nav navbar-nav navbar-left ">
                    <li><a ng-show="!loading" ng-click="refresh()" href="#">Refresh</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right ">
                    <li><a ng-show="!logged_in" ng-click="loginPrompt()" href="#">Log in</a></li>
                    <li><a ng-show="logged_in" ng-click="logout()" href="#">Log out</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-show="!logged_in">
        <h1 style="text-align: center; padding: 150px">Please log in to continue</h1>
      </div>
      <!-- ==================== MAIN CONTENT ========================== -->
      <div class="row content-container" ng-show="logged_in">
        <div class="col-xs-3">
          <div ng-show="projects" class="form-group">
            <div ng-show="projects.length > 1">
              <label>Select project: </label>
              <select
                class="form-control"
                ng-model="project"
                ng-options="project as project.name disable when project.disabled for project in projects track by project.id"
                ng-change="selectProject()">
              </select>
            </div>
            <span ng-hide="projects.length > 1"> You have no projects! <a target="_blank" ng-href="{{ url_base }}/projects"> Add project</a> </span>
            <div ng-show="project.id && scripts">
              <div ng-show="scripts.length > 1">
                <label>Select script:</label>
                <select
                  class="form-control"
                  ng-model="script"
                  ng-options="script as script.name disable when script.disabled for script in scripts track by script.id"
                  ng-change="selectScript()">
                </select>
              </div>
              <span ng-hide="scripts.length > 1" class="padded"> Your project does not have any scripts! <a target="_blank" ng-href="{{ url_base }}/projects/{{ project.id }}"> Add script</a> </span>
            </div>
          </div>
          <div class="panel panel-default" ng-show="script.id">
            <div class="panel-body">
              <h1> {{ script.name }} </h1>
              <p> {{ script.created_at }} </p>
            </div>
          </div>
        </div>
        <!-- ==============  WORK DESKTOP  ========================-->
        <div class="col-xs-9">
          <div ng-show="script && !project.disabled && !script.disabled">
            <!-- ==============  HEADERS  ========================-->
            <div id="headers" class="row">
              <div class="col-md-12" ng-show="!script_builder.getPostprocessingStackTopName()">
                <input
                  ng-model="script_builder.url"
                  ng-change="changeXpath()"
                  placeholder="Source page url"
                  class="form-control"
                >
              </div>
              <div ng-show="script_builder.getPostprocessingStackTopName()">
                <div class="post-info">
                  <span class="btn btn-default btn-small" ng-click="script_builder.leavePostProcessing()">
                    &#8672;
                  </span>
                  <span>
                    postprocessing level {{ script_builder.post_processing_stack.length }}: {{ script_builder.getPostprocessingStackTopName() }}
                  </span>
                </div>
                <div class="post-add">
                  <span class="btn btn-default form-control" ng-click="script_builder.addPostProcessing(selected_postprocessing.type)">
                    add
                  </span>
                </div>
                <div class="post-select">
                  <select
                    class="form-control"
                    ng-model="selected_postprocessing"
                    ng-init="selected_postprocessing=postprocessings[0]"
                    ng-options="postprocessing as postprocessing.name for postprocessing in postprocessings track by postprocessing.type">
                  </select>
                </div>
              </div>
            </div>
            <div class="tabs-headers row">
              <div class="col-md-12">
                <div
                  ng-repeat="postprocessing in script_builder.getSelectedScript().postprocessing"
                  class="tab"
                  ng-click="script_builder.selectPostprocessing(postprocessing)"
                  ng-class="{'active': script_builder.isSelectedPostprocessing(postprocessing)}"
                  ng-show="script_builder.getPostprocessingStackTopName()"
                  draggable="true"
                  droppable="true"
                  ng-attr-id="{{'tab-' + $index}}"
                >
                  {{ postprocessing.label + ' ' + postprocessing.visual_only_id }}
                  <span class="del" ng-click="script_builder.deletePostprocessing(postprocessing)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </span>
                </div>
              </div>
            </div>
            <!-- ==============  BODY  ========================-->
            <div class="tab-container row" ng-show="script_builder.isSelectedPostprocessingType('nested')">
              <div class="col-md-12">
                <table class="table table-hover" ng-show="script_builder.data_fields.length >= 1">
                  <thead>
                    <tr>
                      <th>Field</th>
                      <th>Target</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="field in script_builder.data_fields">
                      <td> {{ field.name }} </td>
                      <td>
                        <div class="input-group">
                          <span
                            class="btn btn-primary input-group-addon"
                            ng-click="toggleTargeting(field.script_id, 'field_id', -1)">
                            &#9673;
                          </span>
                          <input
                            ng-model="script_builder.scripts[field.script_id].xpath"
                            ng-change="changeXpath()"
                            ng-focus="focusXpath(field)"
                            ng-blur="blurXpath()"
                            class="form-control">
                          <span
                            class="btn btn-primary input-group-addon"
                            ng-click="addPositiveInput(field)">
                            +
                          </span>
                          <span
                            class="btn btn-primary input-group-addon"
                            ng-click="addNegativeInput(field)">
                            -
                          </span>
                          <span
                            class="btn btn-primary input-group-addon"
                            ng-click="script_builder.showPostProcessings(field)">
                            &#10148;
                          </span>
                        </div>
                        <div class="input-group" ng-repeat="positive in field.positives">
                          <span
                            class="btn btn-primary input-group-addon positive-match"
                            ng-click="toggleTargetingForSquash(field.name, 'positive_id', positive.id)">
                            &#9673;
                          </span>
                          <input
                            ng-model="positive.xpath"
                            ng-change="changeXpath()"
                            ng-focus="focusXpath(field)"
                            ng-blur="blurXpath()"
                            class="form-control">
                        </div>
                        <div class="input-group" ng-repeat="negative in field.negatives">
                          <span
                            class="btn btn-primary input-group-addon negative-match"
                            ng-click="toggleTargetingForSquash(field.name, 'negative_id', negative.id)">
                            &#9673;
                          </span>
                          <input
                            ng-model="negative.xpath"
                            ng-change="changeXpath()"
                            ng-focus="focusXpath(field)"
                            ng-blur="blurXpath()"
                            class="form-control">
                        </div>
                        <div ng-show="(field.negatives && field.negatives.length) || (field.positives && field.positives.length)">
                          <span
                            class="btn btn-primary"
                            ng-click="squash(field)">
                            Squash
                          </span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <span ng-hide="script_builder.data_fields.length >= 1" class="padded"> Your project does not have any data schema! <a target="_blank" ng-href="{{ url_base }}/projects/{{ project.id }}"> Add data schema</a> </span>
            <button
              ng-show="script_builder.data_fields.length >= 1"
              ng-click="saveScript()"
              ng-disabled="saving"
              class="btn btn-primary">
              <span class="glyphicon glyphicon-floppy-disk"></span>
              Save script
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
